@charset "UTF-8";

/*
Paleta de Cores
Roxo: #5F2C82
Verde: #53AAA7
*/

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
    background-color: #5F2C82;
}

main {
    width: 250px;
    height: 84vh;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 20px;
}

#imagem {
    height: 40vh;
    display: block;
    background-color: black;
}

#formul {
    height: 44vh;
}

#formul > h1 {
    text-align: center;
    font-size: 1.5em;
    padding: 10px;
}

#formul > p {
    font-size: 0.8em;
    padding: 10px;
}

#nome, #senha {
    height: 50px;
    background-color: #5F2C82;
    color: white;
    margin: 7px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 30;
    font-size: 30px !important;
    margin: auto;
}

#inome, #isenha {
    height: 46px;
    background-color: #94CFCD;
    border-radius: 10px;
    font-size: 1em;
    text-indent: 5px;
}

#entrar, #esqueci {
    width: 230px;
    height: 46px;
    margin: 7px;
    border: 1px solid #53AAA7;
    border-radius: 5px;
    font-size: 1em;
}

#entrar {
    background-color: #53AAA7;
    color: white;
}

#entrar:hover {
    background-color: #2D6462;
}

#esqueci {
    background-color: white;
    color: #2D6482;
    align-items: center;
    gap: 5px;
}

#esqueci:hover {
    background-color: #53DFF1;
}

#esqueci .material-symbols-outlined {
    font-size: 12px;
}
