@charset "UTF-8";

/* Todas as demais mídias */

/* 
Typicall Device Breakpoints 

Extra Small Devices ----- Até 575.98px
Small Devices -- De 576px até 767.98px
Tablet --------- De 768px até 991.98px 
Desktop ------- De 992px até 1199.98px 
TV ------------------- Acima de 1200px
*/

/* IMPRESSÃO */
@media print {
    * {
        font-family: 'Courier New', Courier, monospace;
    }

    body {
        background-image: url(../../imagens/back-print.jpg); /* Desnecessário */
    }

    main {
        border: 2px solid black;
        width: 90vw;
    }

    main::after {
        content: 'Esta impressão foi feita através do site www.cursoemvideo.com';
        text-decoration: overline;
    }

    main h1 {
        text-shadow: none;
        color: black;
    }

    #print { display: block; }
    #phone, #tablet, #pc, #tv { display: none;}
}

/* TABLET */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    body {
        background-image: url(../../imagens/back-tablet.jpg);
    }

    #tablet { display: block; }
    #phone, #print, #pc, #tv { display: none;}
}

/* DESKTOP */
@media screen and (min-width: 992px) and (max-width: 1199.98px) {
    body {
        background-image: url(../../imagens/back-pc.jpg);
    }

    #pc { display: block; }
    #phone, #print, #tablet, #tv { display: none;}
}

/* TV */
@media screen and (min-width: 1200px) {
    body {
        background-image: url(../../imagens/back-tv.jpg);
    }
    
    main {
        width: 700px;
    }

    #tv { display: block; }
    #phone, #print, #tablet, #pc { display: none;}
}